.bred, .important {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(#34495e, 0.8);
    background-color: rgba(#dc2f2f, 0.05);
    border-left: 3px solid rgba(#dc2f2f, 0.3);
    background-color: $content-important-backgroud;
    border-left: $content-important-border-left;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    p {
        margin: 0;
    }
}

.bgreen, .definition {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(#34495e, 0.8);
    background-color: rgba(#8ddc2f, 0.05);
    border-left: 3px solid rgba(#8ddc2f, 0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    p {
        margin: 0;
    }
}

.bblue {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(#34495e, 0.8);
    background-color: rgba(#2fb6dc, 0.05);
    border-left: 3px solid rgba(#2fb6dc, 0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    p {
        margin: 0;
    }
}

.byellow {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(#34495e, 0.8);
    background-color: rgba(#dcda2f, 0.05);
    border-left: 3px solid rgba(#dcda2f, 0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    p {
        margin: 0;
    }
}
