{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

<section id="books" class="list-bibliography">
    <span class="list-title">Books:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "book" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title | title }}
            </a>
            {{ with .Keywords }}
            <span class="keywords">
                [{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e | title }}{{ end }}]
            </span>
            {{ end }}
            {{ with .Description }}
            <div class="description">
                {{ . }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>


<section id="phdthesis" class="list-bibliography">
    <span class="list-title">PhD Thesis:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "phdthesis" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>


<section id="article" class="list-bibliography">
    <span class="list-title">Journal Papers:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "article" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<!-- <section id="conference" class="list-bibliography">
     <span class="list-title">Conference Papers:</span>
     <ul>
     {{ range where .Site.RegularPages "Section" "conference" }}
     <li>
     <a href="{{ .Permalink }}">
     {{ .Title }}
     </a>
     </li>
     {{ end }}
     </ul>
     </section> -->

{{- end }}
