{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

<section id="books" class="list-bibliography">
    <span class="list-title">Books:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "book" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title | title }}
            </a>
            {{ with .Keywords }}
            <span class="keywords">
                [{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e | title }}{{ end }}]
            </span>
            {{ end }}
            {{ with .Description }}
            <div class="description">
                {{ . }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>

<section id="phdthesis" class="list-bibliography">
    <span class="list-title">PhD Thesis:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "phdthesis" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Params.ref_author }},
                "{{ .Title }}",
                {{ .Params.ref_year }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<section id="inbook" class="list-bibliography">
    <span class="list-title">In books:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "inbook" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<section id="techreport" class="list-bibliography">
    <span class="list-title">Tech reports:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "techreport" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<section id="article" class="list-bibliography">
    <span class="list-title">Journal articles:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "article" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<section id="inproceedings" class="list-bibliography">
    <span class="list-title">In proceedings:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "inproceedings" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<section id="websites" class="list-bibliography">
    <span class="list-title">Websites:</span>
    <ul>
        {{ range where .Site.RegularPages "Section" "websites" }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

{{- end }}
