// ==============================
// Header
// ==============================

.header {
  @include clearfix; 
  padding: $header-padding;

  .logo-wrapper {
    float: left;

    .logo {
      font-size: $logo-font-size;
      font-family: $logo-font-family;
    }
  }

  @include max-screen() {
    .logo-wrapper {
      display: none;
    }
  }
  .site-navbar {
    float: right;

    .menu {
      display: inline-block;
      position: relative;
      padding-left: 0;
      padding-right: 25px;
      font-family: $global-serif-font-family;

      .menu-item {
        display: inline-block;

        & + .menu-item {
          margin-left: $menu-item-margin-left;;
        }

        @include underline-from-center;
      }

      .menu-item-link {
        font-size: $menu-link-font-size;
      }
    }
  }

  @include max-screen() {
    .site-navbar {
      display: none;
    }
  }
}


@include max-screen() {
  .header {
    padding: 50px 0 0;
    text-align: center;
  }
}
