{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}
<section class="list-zettels">
    <ul>
        {{- range $index, $element := .Pages -}}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title | title }}
            </a>
            {{ with .Keywords }}
            <span class="keywords">
                {{ . }}
            </span>
            {{ end }}
            {{ with .Description }}
            <div class="description">
                {{ . }}
            </div>
            {{ end }}
        </li>
        {{- end -}}
    </ul>
</section>

{{- end }}
