<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="theme-color" content="#f8f5ec" />
<meta name="msapplication-navbutton-color" content="#f8f5ec">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#f8f5ec">

<!-- author & description & keywords  -->
<meta name="author" content="{{ partial "author.html" . }}" />

{{- if .Description -}}
  <meta name="description" content="{{ .Description | safeHTML }}" />
{{- else if .IsPage -}}
  <meta name="description" content="{{ .Summary | plainify }}" />
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
{{- end -}}

<!-- Permalink & RSSlink -->
<link rel="canonical" href="{{ .Permalink }}" />
{{- with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{- end -}}

<!-- Favicon and Touch icons -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">

<!-- Styles -->
{{ $style := resources.Get "sass/main.scss" | toCSS | fingerprint }}
<link href="{{ $style.Permalink }}" rel="stylesheet">

<!-- custom css -->
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
{{ end }}
